:root {
    --color-dark-purple: hsl(250, 27%, 17%);
    --color-purple: hsl(254, 45%, 55%);
    --color-light-purple: hsl(246, 38%, 66%);
    --color-grey-purple: hsl(276, 9%, 79%);
    --color-linen: hsl(30, 58%, 93%);
}
